<launch>

<arg name="publish_ground_truth" default="false"/>
<arg name="gui" default="false"/>

<!-- The main base estimation node  -->
<node pkg="base_estimation"
        type="base_estimation_node"
        name="concert_odometry"
        output="screen">

    <param name="ik_problem" textfile="$(find concert_odometry)/config/concert_odometry_stack.yaml"/>
    <param name="rate" value="200.0"/>
    
    <rosparam command="load" file="$(find concert_odometry)/config/concert_odometry.yaml" />

    <param name="contact_attach_thr" value="-100.0"/>
    <param name="contact_release_thr" value="-150.0"/>
    <param name="velocity_filter/omega" value="100.0"/>
    
    <!-- Create four rolling contacts, and specify a ft sensor for each one.
    Ft sensors are used to provide a belief measure -->
    <param name="rolling_contacts/wheel_A" value="wheel_A"/>
    <param name="rolling_contacts/wheel_B" value="wheel_B"/>
    <param name="rolling_contacts/wheel_C" value="wheel_C"/>
    <param name="rolling_contacts/wheel_D" value="wheel_D"/>

    <!-- In our case, create a virtual ft with a fixed value of 400N -->
    <param name="z_force_override/wheel_A" value="400.0"/>
    <param name="z_force_override/wheel_B" value="400.0"/>
    <param name="z_force_override/wheel_C" value="400.0"/>
    <param name="z_force_override/wheel_D" value="400.0"/>

    <param name="use_imu" value="false"/>

    <param name="publish_tf" value="true"/>

    <!-- If we have a ground truth source (e.g. gazebo), start odometry from the 
    ground truth value -->
    <param if="$(arg publish_ground_truth)" name="world_from_tf" value="world"/>

    <remap from="/robot_description" to="/xbotcore/robot_description"/>
    <remap from="/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>

</node>

<!-- Publish ground truth from gazebo to TF -->
<node if="$(arg publish_ground_truth)" 
    pkg="base_estimation"
    type="gazebo_tf_publisher"
    name="gz_tf_publisher"
    output="screen">
    
    <param name="gz_link" value="ModularBot::base_link"/>
    <param name="tf_link" value="base_link"/>
    <param name="world" value="world"/>
</node>

<!-- Connect ground truth world to odometry world -->
<node if="$(arg publish_ground_truth)" 
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 world odometry/world 10"
    name="connect_worlds"
    output="screen"/>

<!-- RViz -->
<node if="$(arg gui)" 
    pkg="rviz"
    type="rviz"
    args="-d $(find concert_odometry)/rviz/concert_odometry.rviz"
    name="odom_rviz"
    output="screen"/>

</launch>
